* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LarishNeue-Bold';
    src: url(../font/Larish_Neue_Semibold.woff2);
}

@font-face {
    font-family: 'LarishNeue-Bold';
    src: url(../font/LarishNeueSemibold.woff);
}

body {
    font-family: 'Work Sans';
    background: #000;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'LarishNeue-Bold';
}

#home {
    /* height: 100vh; */
    padding: 0 5%;
}

#home>img {
    width: 100%;
    height: 28vh;
    display: block;
    margin: 0 auto;
}

#home div:nth-of-type(1) {
    width: 60%;
    margin: auto;
    padding: 2.8% 0;
    text-align: center;
}

#home div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

#home span {
    display: block;
    color: #000;
    -webkit-text-stroke: 1.2px #fff;
}

#home h1 {
    font-size: 5rem;
    line-height: 4rem;
}

#home p {
    font-size: 1.1rem;
    line-height: 4rem;
}

#home div>img {
    width: 6%;
}

#home div>a {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1.5% 3.9%;
    font-size: 1.4rem;
    transition: all 1s;
}

#home div>a:hover {
    background: #fff;
    color: #000;
}

#lastYear {
    height: 100vh;
    background: #000;
    padding: 15% 0 9% 5%;
}

#lastYear p {
    font-size: 5.8rem;
    font-family: 'LarishNeue-Bold';
    width: 90%;
}

#statistic {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    margin-bottom: 6%;
    position: relative;
}

#statistic img {
    width: 43%;
    z-index: 999;
    position: absolute;
    top: -23%;
    right: 0;
}

#statistic div p {
    font-size: 7rem;
    font-family: 'LarishNeue-Bold';
    padding-bottom: 3%;
}

#statistic div h2 {
    font-size: 1.3rem;
    font-family: 'Work Sans';
    font-weight: lighter;
}

#stuckMiddle {
    background: #fff;
    color: #000;
    width: 100%;
    position: relative;
    padding-bottom: 5%;
}

#stuckMiddle article {
    width: 34%;
    margin: 0 auto;
    margin-top: -3%;
}

#stuckMiddle span {
    display: block;
}

#stuckMiddle h2 {
    font-size: 4.6rem;
    line-height: 4.5rem;
}

#stuckMiddle p {
    line-height: 1.7rem;
}

.img1 {
    margin-left: 60%;
    margin-top: -4%;
    width: 30%;
}

.img2 {
    margin-left: 4%;
    margin-top: 7%;
    width: 25%;
}

.img3 {
    margin-left: 80%;
    margin-top: -3%;
    width: 20%;
}

.img4 {
    margin-left: 16%;
    width: 25%;
    display: block;
}

.img5 {
    margin-left: 60%;
    margin-top: -2%;
    width: 25%;
}

.img6 {
    margin-top: 5%;
    width: 20%;
}

.paragraph {
    width: 32%;
    line-height: 1.7rem;
    display: inline-block;
    margin-left: 10%;
}

.img7 {
    display: inline-block;
    margin-left: 48%;
    margin-bottom: -10%;
    margin-top: 5%;
    width: 30%;
}

.goldenBear {
    padding-top: 13%;
}

.golden-container, .poppy-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.golden-container div, .poppy-container div {
    width: 30%;
}

.golden-container article, .poppy-container article {
    width: 44%;
}

.golden-container div p, .poppy-container div p {
    font-size: 1.4rem;
    margin-bottom: 5.5%;
}

.golden-container div h2, .poppy-container div h2 {
    font-size: 5.5rem;
    line-height: 5.3rem;
}

.golden-container article p:nth-of-type(1), .poppy-container article p:nth-of-type(1) {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'LarishNeue-Bold';
}

.golden-container article p:nth-of-type(2), .poppy-container article p:nth-of-type(2) {
    font-size: 1.2rem;
    margin-top: 3%;
}

.goldenBear img:nth-of-type(1) {
    width: 50%;
    margin-left: 9%;
    margin-bottom: -10%;
}

.goldenBear img:nth-of-type(2) {
    width: 30%;
    margin-left: -5%;
    margin-bottom: -5%;
}

.poppy-img2 {
    width: 30%;
    margin-left: -80%;
    margin-bottom: 11%;
}

.poppy-img1 {
    width: 55%;
    margin-left: 36%;
    margin-bottom: 5%;
}

.poppyBear {
    background: #fff;
    padding-top: 28%;
    padding-bottom: 5%;
    width: 100%;
    color: #000;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.poppy-circle img {
    width: 30%;
    position: absolute;
    top: -7%;
    right: -8%;
    animation: rotation 9000ms infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#join-us {
    padding: 0 7%;
    padding-top: 12%;
    position: relative;
    overflow: hidden;
}

.banner h3 span {
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.banner {
    width: 100%;
    display: flex;
    z-index: -100;
    transform: rotate(40deg) translateY(-17rem) translateX(35rem);
}

.banner h3 {
    color: #000;
    font-size: 9rem;
    line-height: 9.5rem;
    white-space: nowrap;
    background: #fff;
    display: block;
    padding-top: 1rem;
    padding-right: 2rem;
    animation: ticker 40s linear infinite;
    animation-delay: -40s;
}

.banner h3:nth-of-type(2) {
    padding-left: 2rem;
    animation: ticker2 40s linear infinite;
    animation-delay: -20.05s;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes ticker2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

#join-us article:nth-of-type(1) {
    width: 45%;
}

#join-us article:nth-of-type(1) p:nth-of-type(1) {
    font-size: 1rem;
    margin-bottom: 3%;
}

#join-us article:nth-of-type(1) a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 3% 7%;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2%;
    transition: all 1s;
}

#join-us article:nth-of-type(1) a:hover {
    background: #fff;
    color: #000;
}

#join-us article:nth-of-type(1) p:nth-of-type(2) {
    font-size: 2rem;
    line-height: 2.7rem;
    font-family: 'LarishNeue-Bold';
    margin-bottom: 3%;
}

#join-us article:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 13%;
    margin-bottom: 2%;
}

#join-us article:nth-of-type(2) div:nth-of-type(1) {
    line-height: 2rem;
}

#join-us article:nth-of-type(2) img {
    width: 25%;
}

#join-us article i {
    font-size: 1.5rem;
}

.footer-img {
    margin-left: 40%;
}

@media only screen and (max-width: 600px) {
    #home {
        height: 85vh;
    }
    #home h1 {
        line-height: 2rem;
        font-size: 2rem;
    }
    #home div>img {
        width: 13%;
    }
    #lastYear {
        height: 75vh;
        background: #000;
        padding: 3% 0 15% 5%;
    }
    #lastYear p {
        font-size: 3rem;
        width: 90%;
    }
    #statistic {
        height: 78vh;
    }
    #statistic div {
        padding-left: 2%;
        padding-top: 5%;
    }
    #statistic div p {
        font-size: 5rem;
        margin-bottom: 20%;
    }
    #statistic img {
        display: none;
    }
    #statistic {
        padding: 3% 0;
    }
    #statistic div h2 {
        margin-top: 3%;
    }
    #stuckMiddle {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 5%;
        padding-bottom: 0;
    }
    #stuckMiddle article {
        width: 80%;
        order: -1;
    }
    #stuckMiddle h2 {
        font-size: 3rem;
    }
    #stuckMiddle img {
        width: 100%;
        margin: 0;
    }
    #stuckMiddle p {
        order: -1;
        width: 80%;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .golden-container, .poppy-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 5%;
    }
    .golden-container div, .poppy-container div {
        width: 95%;
    }
    .golden-container article, .poppy-container article {
        width: 95%;
    }
    .golden-container div h2, .poppy-container div h2 {
        margin-bottom: 4%;
    }
    .poppy-circle img {
        width: 43%;
        right: -15%;
    }
    .join-animation {
        display: none;
    }
    #join-us {
        padding-top: 15%;
    }
    #join-us article:nth-of-type(1) {
        width: 100%;
    }
    #join-us article:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-img {
        margin-left: 0;
        margin-top: 3%;
        padding-bottom: 8%;
    }
}